<!--==category boxes==-->
	<div class="container-Main">
		<div id="heading-block">
			<h2>Ofertas Destacadas</h2>		
		</div>

		<table id="content-Items" ng-controller="ImagesCampanias">
			<td ng-repeat="campania in campanias" active="campania.active">
				<div class="catbox">
					<a href="{{urlProductos + campania.productId}}">
						<img style="width: 100%" ng-src="http://laptop-diego:9091{{campania.image}}">
					</a>
				</div>
			</td>
		</table>

		 <!--==1st catbox==-->
			<!--a href="#">
				<div class="catbox">
					<img src="images/cat1.jpg" alt="Men-fashion">
					<span>Caballero</span>
				</div>
			</a>
	
		<!--==HEADING OF CATEGORY==-->
		<div id="heading-block">
			<h2>Productos mas vendidos</h2>		
		</div>

		<div class="prod-container" ng-controller="ImagesRanking">

				<!--==1st product==-->

			<div class="prod-box" ng-repeat="producto in ranking" active="producto.active">
				<a href="{{urlProductos + producto.productId}}">
					<img style="width: 100%" ng-src="{{producto.image}}">
				</a>

				<div class="prod-trans">				
					<div class="prod-feature">
						<p>{{producto.nombre}}</p>
						<p style="color:#fff;font-weight: bold;">Precio : {{producto.precio}}</p>	
						<a href="http://localhost/KallsonysMovil/products.html#/ContentProducts?Id={{producto.productId}}"><input type="button" class="btn btn-primary" value="Ver detalle"></a>
					</div>	
				</div>		
			</div>	
	
		</div>
		
	</div>