<div id="header">
		<!-- <div ng-show="auth" id="subheader"> -->
		<div ng-show="auth" id="subheader" style="padding-top: 15px;">	
			<div class="container">
				<p> <div class="auth"><span>{{username}}</span> <a style="color:#23527c" href="#/login">Logout</a> </div></p>
			</div>	
		</div>
		
		<div id="subheader">
			<div class="container">
				<p>_</p>
				<!-- <a href="#"> ::::: </a>  -->
				<!-- <a href="#"> ::::: </a>  -->
				<!-- <a href="#"> ::::: </a>  -->
				<!-- <a href="#">Cuenta</a> -->
			</div>	
		</div>
		<!--==main header==-->
		<div id="main-header">
		<!--==logo==-->
			<div id="logo">
				<span id="ist"><img id="img-logo" src="images/Front/logo.jpg" ></span>
			</div>
		<!--==search area==-->
			<div id="search">
			<form action="" id="myform">
				<div  ng-controller="headercontroller" class="autosearch" style="position: relative;" > 
									
					<input class="search-area" placeholder="Busqueda" type="text" name="producto" id="producto" ng-model="producto" ng-keyup="complete(producto)" class="form-control"  AUTOCOMPLETE="off"/>
					<ul class="list-group-ul"  ng-hide="nombres_elast[0] == undefined" >  
						<li style="position: relative;z-index: 2;" id="list-group-item-kall" class="list-group-item" ng-repeat="producto in nombres_elast" ng-click="seleccionar(producto)">{{producto.nombre}}</li>  
					</ul>
					
					<a href="#" class="search-btn btn btn-info btn-lg" onclick='document.forms["myform"].submit(); return false;'>
					  <span class="glyphicon glyphicon-search"></span>
					</a>
					
					<!-- <input class="search-btn" type="submit" name="submit"> -->
				</div>
			</form>
			</div>
		<!--==user-menu==-->
			<div id="user-menu">
				<li><a href="user.html"> <span class="glyphicon glyphicon-user"></span> Cuenta</a></li>
				<li><a href="cart.html#/ContentCart"> <span class="glyphicon glyphicon-shopping-cart"></span> Mi Carrito</a></li>
			</div>
		</div>
</div>