<!-- ng-controller="productsController" -->
<div class="content-info"> 
		
			
		<div>
			<img ng-if="dataLoading" style="width: 22px;height: 22px; " src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			<span ng-if="error">{{errorMsj}}</span>
		</div>
		
		<span class="text-div">Categorias:</span>
		<select ng-model="selectedCat" ng-click="GetProductsByCat()">
			<option ng-repeat="x in categories" value="{{x.categoria}}">{{x.categoria}}</option>
		</select>
<p>&nbsp;</p> 
		<!-- <h1>{{selectedCat}}</h1> -->
		
	
		<div class="prod-container">
			<div class="prod-box-Main" ng-repeat="producto in productos track by producto.id">
				<h4 class="title-products">{{producto.descripcion}}</h4>
				<div class="prod-box" >
					
						<img ng-src="{{productImageSmallBaseUrl + producto.id}}" alt="{{producto.nombre}}">
						<div class="prod-trans">
							<div class="prod-feature">								
								 	<a href="{{urlProductos + producto.id}}">
										 <input type="button" class="btn btn-primary" value="Ver detalle">
									</a>
								<input type="button" class="btn btn-warning" value="Agregar al carrito">
							</div>	
						</div>
					
				</div>
				<span class="price">$ {{producto.precio}}</span>					
			</div>
		</div>
		<!-- <div id="content-Items"> -->
			<!-- <!--==1st catbox==--> 
				<!-- <div  ng-repeat="producto in productos track by producto.id"> -->
					<!-- <a href="{{urlProductos + producto.id}}"> -->
						<!-- <div class="catbox"> -->
							<!-- <img ng-src="{{productImageSmallBaseUrl + producto.id}}" alt="{{producto.nombre}}"> -->
							<!-- <span>{{producto.descripcion}}</span> -->
						<!-- </div> -->
					<!-- </a> -->
				<!-- </div> -->
		<!-- </div> -->
</div>