<!-- ng-controller="ControllerCheckOut" -->
<div class="content-info"> 
		<div><h3>Sus Ordenes</h3></div>
		<div>
			<img ng-if="dataLoading" style="width: 22px;height: 22px; " src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			<div ng-if="error">
				<span class="alert alert-danger">{{errorMsj}}</span>
				<p>&nbsp;</p>
			</div>
			<div ng-if="success">
				<span class="alert alert-success">{{successMsj}}</span>
				<p>&nbsp;</p>
			</div>
		</div>
		
		<div class="large-5 columns" style="width: 90%; position:relative; left:5%;">
				<table style="width: 100%;border: solid 1px #ddd;border-spacing: 0;border-collapse: collapse;">
				  <thead style="background: #f5f5f5; font-weight: bold;">
					<tr>
					  <th class="width_th_10" style="text-align:center">No. Orden</th>
					  <th class="width_th_30" style="text-align:center">Fecha</th>
					  <th class="width_th_10" style="text-align:center">Estado</th>
					  <th class="width_th_20" style="text-align:center">Valor total</th>
					  <th class="width_th_20" style="text-align:center">Empresa de transporte</th>
					  <th class="width_th_10"></th>
					</tr>
				  </thead>
				  <tbody>		  	
					<tr ng-repeat="prod in udpShopContent" style="border: solid 1px #ddd;">
					  <td class="width_th_10">{{prod.idOrden}}</td>
					  <td class="width_th_30">{{prod.fecha_orden}}</td>
					  <td class="width_th_10">{{prod.estado}}</td>
					  <td class="width_th_20" style="text-align:right">{{prod.valorTotal | currency:"$"}} {{}}</td>
					  <td class="width_th_20">{{prod.carrier}}</td>
                        <!-- {{roundCurrency(prod.precio*prod.cantidad)}} -->
					   <td class="width_th_10" style="height: 50px;">
										<button type="button" class="btn btn-info" ng-click="detalle(prod.idOrden)">Ver detalle</button>
						</td> 
					</tr>
					<tr style="border: solid 1px #ddd;">
						<td colspan="6"></td>
					</tr>
					</tbody>
			</table>
		</div>
		<br>


		<div ng-if="OrdersValid" class="large-6 columns" style="width: 97%; position:relative; left:2%;">
				<div><h5 style="color: #5dade2;text-align: center;width: 100%; background-color:#F8FAFA">Datos Productos</h5></div>
				<table style="width: 100%;border: solid 1px #ddd;border-spacing: 0;border-collapse: collapse;">
					<thead style="background: #f5f5f5; font-weight: bold;">
					<tr>
						<th class="width_th_10"></th> 
						<th class="width_th_10">Id</th>
						<th class="width_th_30">Nombre</th>
						<th class="width_th_10">Cantidad</th>
						<th class="width_th_20">Precio unidad</th>
						<th class="width_th_20">Total producto</th>
						
					</tr>
					</thead>
					<tbody>		  	
					<tr ng-repeat="prod in OrderContent">
						<td class="width_th_10">{{prod.urlImage}}</td>
						<td class="width_th_10">{{prod.idProducto}}</td>
						<td class="width_th_30">{{prod.nombre}}</td>
						<td class="width_th_10" style="padding-left: 25px;">{{prod.cantidad}}</td>
						<td class="width_th_20">$ {{prod.precio}}</td>
						<td class="width_th_20">$ {{roundCurrency(prod.total)}}</td>
					</tr>
					<tr>
						<td colspan="6" style="text-align: right;"><span style="font-weight: bold;">Total: </span>$ {{ roundCurrency(udpShopTotalPrice) }}</td>
					</tr>
					
					
					</tbody>
				</table>
			</div>
</div>