<!-- ng-controller="recoveryUserController"	 -->
<form name="form" id="Myform" ng-submit="restore()" role="form">
		<div class="Login_div"> 
				<span ng-show="error" class="alert alert-danger">{{error}}</span><p>&nbsp;</p>
				
				<div class="Tittle_div" style="width:100%">Reestablecer Clave</div>
				<div class="tittle_h2 divC1">Clave:</div>
				<div class="margin-top divC1">
					<input name="clave" type="password" id="clave" class="form-control" ng-model="clave" required />
					<span ng-show="form.clave.$dirty && form.clave.$error.required" class="help-block">clave es requerida</span>
				</div>
				<div class="tittle_h2 divC1">Confirmar Clave:</div>
				<div class="margin-top divC1">
					<input name="Confirmclave" type="password" id="Confirmclave" class="form-control" ng-model="Confirmclave" required />
					<span ng-show="form.Confirmclave.$dirty && form.Confirmclave.$error.required" class="help-block">Confirmación clave es requerida</span>
				</div>
				
				<div style="height:80px;"></div>
				<div class="divClear padding-top">
					<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Aceptar</button>
					<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				</div>
				
				<p>&nbsp;</p><span ng-show="success" class="alert alert-success">{{success}}</span>
		</div>
</form>